@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* General Reset */
body,
h1,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #2f2f2f; /* Darker font color */
  background-color: #f5ebe0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #e3d5ca;
  /* background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(https://www.rammaheshwari.com/assets/svg/common-bg.svg); */
  color: #2f3e46; /* Darker font for header */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 5rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo img {
  max-height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #2f3e46; /* Darker font for navigation links */
  transition: color 0.3s;
  /* transition: all 0.3s ease-in-out; */
}

.navbar a:hover {
  color: #edede9;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(110vh - 70px);
  text-align: center;
  /* background: #EDEDE9; */
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(https://www.rammaheshwari.com/assets/svg/common-bg.svg);
  position: relative;
  padding: 0 20px;
}

.social-links {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e3d5ca;
  left: 0%;
  width: 50px;
  height: 215px;
  padding-top: 15px;
  border-right: 0px solid #e3d5ca;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.social-links a {
  color: #52796f; /* Slightly darker for social icons */
  font-size: 20px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #354f52;
}
.hero-content {
  width: 80vw;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #2f2f2f; /* Darker font for heading */
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 20px;
  color: #4a4a4a; /* Slightly lighter for description */
}

.btn {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #d6ccc2;
  color: #2f2f2f; /* Darker text on button */
  border: none;
  text-decoration: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #d5bdaf;
}

.Mouse_control {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}
.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .hero-section {
    height: calc(80vh - 40px);
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-content p {
    font-size: 16px;
  }
  .main-header {
    display: flex;
  }
  #about .container {
    display: flex;
    flex-direction: column;
  }

  #about {
    font-family: "Poppins", sans-serif;
  }

  .section-title {
    text-align: center;
    font-size: 4.5em;
    margin-bottom: 21px;
  }

  .section-subtitle {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2em;
  }

  .about-content {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }

  .about-left,
  .about-right {
    flex: 1;
    max-width: 600px;
  }

  .about-left h3,
  .about-right h3 {
    font-size: 2.8em;
    margin-bottom: 24px;
  }

  .about-left p {
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .cta-button {
    background-color: #52796f;
    color: #f5ebe0;
    padding: 17px 37px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
  }

  .cta-button:hover {
    background-color: #354f52;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skills li {
    display: flex;
    align-items: center;
    background-color: #e3d5ca;
    color: #2f3e46;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .skills li i {
    margin-right: 8px;
  }

  .skills li:hover {
    background-color: #d5bdaf;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}
